/* 

Template: Website title
Author: Shuvo Mallick
Description: Website title
Version: 1.0.0
Keywords: . 

*/

/* =========== CSS FILE INDEX =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Responsive CSS ----- */
/* =========== CSS FILE INDEX =========== */

/* ===== STYLE INDEX ===== */
/* 
  1. Navbar Section
  2. 
  3.
  */
/* ===== STYLE INDEX ===== */

/* =================== NEXT CSS FILE =================== */
/* ===== title CSS ===== */
/* =================== NEXT CSS FILE =================== */

/* ===== IMPORT CSS FILE ===== */
@import "./utilities.css";
@import "./responsive.css";
/* ===== IMPORT CSS FILE ===== */

/* ===== START ===== */
.data-get-Form .form-control {
  width: 70%;
}

.data-get-Form button{
  width: 30%;
  height: 44px;
}

form 

/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== FOOTER START===== */
/* ===== FOOTER END===== */
